body {
    margin: 0;
    padding-bottom: 70px;
}

footer {
    bottom: 0;
    background-color: #004d40;
    text-align: center;
    color: white;
    position: fixed;
    width: 100%;
    padding: 25px 0;
    z-index: 1000;
    line-height: 150%;
}

footer p {
    margin: 0;
}