html, body { 
    height: 100%;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif; 
}
body {
    display: flex;
    flex-direction: column;
}
body {
    margin: 0;
    padding: 0;

    background-image: url(../Kuvat/Metsä.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
main {
    flex: 1;
}
