html, body { 
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: Georgia, 'Times New Roman', Times, serif; 
}

#vesi {
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
}

.game-container {
    position: relative;
    width: 100%;
    max-width: 100%;
    margin: 10px auto;
    flex: 1;
}

#ahven {
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: auto;
    z-index: 10;
    pointer-events: none; 
}

@media (max-width: 600px) {
    .nav-box {
        font-size: 0.8rem;
        padding: 3px 10px;
    }
}

@media (min-width: 768px) {
    body {
        font-size: 16px;
    }
}


@media (min-width: 1024px) {
    body {
        font-size: 18px;
    }
}

.fish-wrapper {
    position: relative;
    display: inline-block;
    width: 100%;
}

.drop-zone {
    position: absolute;
    width: 100px;
    height: 40px;
    border: 2px dashed #fff;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    transform: translate(-50%, -50%);
}

.labels-container {
    position: absolute;
    right: 20px;
    top: 50px;
    display: flex;
    flex-direction: column;
    gap: 10px
}

.draggable {
    padding: 10px;
    background: #fff;
    border: 1px solid #333;
    cursor: grab;
    text-align: center;
    border-radius: 4px;
    color: black;
}

.correct { border: 4px solid green !important; }
.wrong {border: 4px solid red !important; }

.controls {
    text-align: center;
    padding: 20px;
    background: white;
}