.game-container {
    position: relative;
    width: 100%;
    max-width: 90%;
    margin: auto;
}


#vesi {
    width: 100%;
    height: auto;
    display: block;
}


#ahven {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: auto;
    z-index: 2;
    pointer-events: none;
}


.drop-zone {
    position: absolute;
    width: 8%;
    height: 6%;
    border: 2px dashed white;
    background: rgba(255,255,255,0.2);
    border-radius: 5px;
    transform: translate(-50%, -50%);
    z-index: 3;
}


.labels-container {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
    width: 90%;
    z-index: 4;
}


.draggable {
    padding: 6px 10px;
    background: white;
    border: 2px solid rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    cursor: grab;
    border-radius: 4px;
    backdrop-filter: blur(3px);
}

.controls {
    position: absolute;
    top: 80%;
    right: 5%;
    z-index: 5;
    background: rgba(255,255,255,0.7);
    padding: 8px;
    border-radius: 6px;
}


.correct { border: 3px solid lime !important; }
.wrong { border: 3px solid red !important; }

@media (max-width: 600px) {

    #ahven {
        width: 60%;
    }

    .drop-zone {
        width: 12%;
        height: 8%;
    }

    .draggable {
        font-size: 0.7rem;
        padding: 5px 6px;
    }

    .labels-container {
        bottom: 2%;
        gap: 5px;
    }


}