img#niitty {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
}

div#pelialue {
    justify-content: center;
    align-content: center;
    z-index: 2;
    position: absolute;
    width: min(90vw, 60vh);
    height: min(90vw, 60vh);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
    display: grid;
    gap: 5px;
    grid-template-columns: auto auto auto auto;
}

img.card {
    width: 100%;
    aspect-ratio: 1/1;
    z-index: 3;
    object-fit: contain;
}

div#pisteet {
    z-index: 5;
    position: absolute;
    top: 40%;
    left: 85%;
    transform: translate(-50%, -50%);
    height: 6em;
    width: 9em;
    background-color: cyan;
    display: flex;
    border-radius: 5px;
    margin: 5px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}

h2 {
    margin: 0;
}

@media (max-width: 900px) {
    div#pisteet {
        top: 90%;
        left: 50%;
        transform: translate(-50%, -90%);
    }

    div#pelialue {
        top: 40%;
        left: 50%;
        transform: translate(-50%, -40%);
    }

    button#uusinta {
        top: 90%;
        left: 35%;
        transform: translate(-50%, -90%);
    }
}

#uusinta {
    height: 4em;
    width: 4em;
    border-radius: 10px;
    border: none;
    background-color: white;
    cursor: pointer;
}

@media (max-width: 1600px) {
    div#pisteet {
        top: 95%;
        left: 50%;
        transform: translate(-50%, -90%);
    }
}