img#niitty {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

div#pelialue {
    z-index: 2;
}

img.card {
    width: 80px;
    height: 80px;
    z-index: 3;
}

