img#niitty {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
}

div#pelialue {
    justify-content: center;
    align-content: center;
    z-index: 2;
    position: absolute;
    width: min(90vw, 60vh);
    height: min(90vw, 60vh);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
    display: grid;
    gap: 5px;
    grid-template-columns: auto auto auto auto;
}

img.card {
    width: 100%;
    aspect-ratio: 1/1;
    z-index: 3;
    object-fit: contain;
}

div#pisteet {
    z-index: 5;
    position: absolute;
    top: 40%;
    left: 90%;
    transform: translate(-50%, -50%);
    height: auto;
    width: auto;
    padding: 5px;
    background-color: cyan;
    display: flex;
    border-radius: 5px;
    margin: 5px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}

h2 {
    margin: 0;
}

#uusinta {
    height: 4em;
    width: 4em;
    border-radius: 10px;
    border: none;
    background-color: white;
    cursor: pointer;
}

@media (max-aspect-ratio: 1/1) {
    div#pisteet {
        top: 95%;
        left: 50%;
        transform: translate(-50%, -90%);
    }
}

@media (max-width: 700px) {
    #pisteet {
        font-size: 0.7rem;
    }
}

@media (max-height: 400px) {
    div#pelialue {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

#spacebox {
    display: none;
}

@media (pointer: coarse) {
    #spacebox {
        display: block;
        height: 70px;
        
    }
}