/*pelivalinnan tyylit*/
html, body { 
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: Georgia, 'Times New Roman', Times, serif; 
}

#niitty {
    max-width: 100%;
    height: auto;
    border-radius: 12px;
    display: block;
    margin: 20px auto;
}

.game-container {
    position: relative;
    width: 100%;
    max-width: 100%;
    margin: 10px auto;
    flex: 1;
}

.nav-box {
    position: absolute;
    background: rgba(29, 14, 14, 0.5);
    color: white;
    padding: 50px 60px;
    text-decoration: none;
    border-radius: 10px;
    font-size: 1rem;
}

.lake { top: 60%; left: 40%; }
.meadow { top: 40%; right: 10%; }
.forest { top: 30%; left: 35%; }
.Sky { top: 20%; right: 10%}

@media (max-width: 600px) {
    .nav-box {
        font-size: 0.8rem;
        padding: 3px 10px;
    }
}

@media (min-width: 768px) {
    body {
        font-size: 16px;
    }
}


@media (min-width: 1024px) {
    body {
        font-size: 18px;
    }
}
