/* sivujen välisiä yhteisiä tyylejä varten esim. vakio fontit,footeri,navit yms */
body {
    margin: 0;
    padding-bottom: 70px;
}

footer {
    bottom: 0;
    background-color: green;
    text-align: center;
    color: white;
    position: fixed;
    width: 100%;
    padding: 25px 0;
    z-index: 1000;
    line-height: 100%;
    border-top: 3px solid #000000
}

footer p {
    margin: 0;
}