/* Nav tyyli */
ul#navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: green;
    border: 3px solid black;
    border-radius: 10px;
    position: fixed;
    top: -1%;
    left: -0.1em;
    width: 100%;
    z-index: 69;
    animation-name: slide;
    animation-duration: 0.5s;
    font-family: Georgia, 'Times New Roman', serif;
}

ul#navbar li {
    float: left;
}

/* media juttu joka tunnistaa onko hiiri käytössä */
@media (pointer: fine) {
    ul#navbar {
    position: fixed;
    transform: translateY(-60px);
    transition: transform 0.167s ease;
}
}

ul#navbar:hover {
    transform: translateY(0);
}

@keyframes slide {
        from {
            top: -60px;
        }

        to {
            top: 0;
        }
    }

img#navimg {
    width: 40px;
    height: 40px;
    margin: 20px;
}

.etusivutext {
    position: absolute;
    top: 30px;
    left: 13px;
    color: white;
}

.tuloksettext {
    position: absolute;
    top: 30px;
    left: 93px;
    color: white;
}

.pelittext {
    position: absolute;
    top: 30px;
    left: 185px;
    color: white;
}

.tietojatext {
    position: absolute;
    top: 30px;
    left: 256px;
    color: white;
}

/* pienet kuvakkeet pienille näytöille */
@media (max-width: 400px) {
    .valikkotext {
        top: 27px;
        left: 10px;
    }

    .tuloksettext {
        top: 27px;
        left: 87px;
    }

    .kalapelitext {
        top: 27px;
        left: 165px;
    }

    .tietojatext {
        top: 27px;
        left: 235px;
    }

    img#navimg {
        width: 35px;
        height: 35px;
        margin: 20px;
    }
}

