body{
    display:flex;
    flex-direction: column;
    background-image:url(../Kuvat/nickype-tree-trunk-4545438.jpg);
    background-size: cover;
    z-index: -1;
}

main{
    display: flex;
    flex:1;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    gap:1rem;
    height: auto;
    min-height: 80vh;
}

.resultbox{
    padding:1rem;
    border: 4px,solid black;
    border-color: black;
    text-align: center;
    border-radius: 10px;
}

#tulosrakenne{
    display: grid;
    grid-template-columns:repeat(4,1fr);
    gap: 1rem;
    width:100%;
    max-width: 1000px;
}

#yleistulos{
    background-color: gray;
    padding: 2rem;
    border:3px solid black;
    width: 35vw;
    min-width: 200px;
    align-items: center;
    border-radius: 10px;
}

button{
    background-color:rgb(140, 20, 20);
    border: 5px solid black;
    width: 150px;
    height: 150px;
    border-radius: 100px;
    font-style: italic;
}

#kalatulos{
    background-color: lightblue;
}

#lintutulos{
    background-color: cyan;
}

#kasvitulos{
    background-color: lightgreen;
}

#elaintulos{
    background-color: lightyellow;
}